<%= simple_form_for @actividadarea, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :nombre %>
  <%= f.input :observaciones %>
	<%= f.input :fechacreacion, 
		:input_html => { "data-behaviour" => "datepicker"}, 
	  :as => :string %>
  <%= f.input :fechadeshabilitacion, 
  	:input_html => { "data-behaviour" => "datepicker"}, 
	  :as => :string %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                actividadareas_path, :class => 'btn' %>
  </div>
<% end %>
