<%- if current_usuario.nil?  %>
  <li><a href="usuarios/sign_in">Iniciar Sesión</a>
<%- else  %>
  <article>
  <%= simple_form_for @caso, :html => { :class => 'form-horizontal' } do |f| %>
    <div data-role="content" class="form-inputs">
      <div id="errores">
        <%= f.error_notification %>
      </div>
      <div class="accordion" id="accordion2">

        <%= f.simple_fields_for :casosjr do |s| %>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" href="#basicos">
                Datos Básicos
              </a>
            </div>
            <div id="basicos" class="accordion-body collapse in">
              <div class="accordion-inner">

                <%= f.input :id, label: "Código", readonly: true%>

                <%= s.input :fecharec, 
                  :input_html => { "data-behaviour" => "datepicker" },
                  :as => :string, :label => "Fecha de Recepción" %>
                <%= s.association :usuario,
                  label: "Asesor SJR",
                  label_method: :nusuario, 
                  value_method: :id %>
                <%= s.association :regionsjr,
                  label: "Oficina",
                  label_method: :nombre, 
                  value_method: :id %>
                <%= f.input :fecha, :input_html => { 
                    "data-behaviour" => "datepicker" },
                    :as => :string, :label => "Fecha del Hecho" %>
                <%= f.input :memo, label: 'Descripción' %>
              </div>
            </div> 
          </div> <! -- accordion-group -->

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" href="#contacto">
                Solicitante Principal
              </a>
            </div>
            <div id="contacto" class="accordion-body collapse">
              <div class="accordion-inner">
                <%= s.input :direccion%>
                <%= s.input :telefono%>
                <%= s.input :comosupo, :label => "Como supo" %>
                <%= f.simple_fields_for :victima do |victima| %>
                  <%= render 'contacto_fields', :f => victima  %>
                <% end %>
                <div class="input string optional"><label class="string optional control-label" for="x1">Dependen econ.</label><input class="string optional" id="x1" name="x1" type="text"></div>
                <div class="input string optional"><label class="string optional control-label" for="x2">Sustento familiar</label><input class="string optional" id="x2" name="x2" type="text"></div>
                <div class="input string optional"><label class="string optional control-label" for="x3">Sabe leer y escribir</label><input class="string optional" id="x3" name="x3" type="text"></div>
                <div class="input string optional"><label class="string optional control-label" for="x4">Trajaba actualmente</label><input class="string optional" id="x4" name="x4" type="text"></div>
                <div class="input string optional"><label class="string optional control-label" for="x5">Ingreso mensual</label><input class="string optional" id="x5" name="x5" type="text"></div>
                <div class="input string optional"><label class="string optional control-label" for="x6">Estimado de gastos</label><input class="string optional" id="x6" name="x6" type="text"></div>
                <div class="input string optional"><label class="string optional control-label" for="x7">Estrato</label><input class="string optional" id="x7" name="x7" type="text"></div>
                <div class="input string optional"><label class="string optional control-label" for="x8">Status migratorio</label><input class="string optional" id="x8" name="x8" type="text"></div>
                <div class="input string optional"><label class="string optional control-label" for="x9">Personas con necesidad de protección internacional</label><input class="string optional" id="x9" name="x9" type="text"></div>
              </div>
            </div>
          </div> <! -- accordion-group -->

        <% end %>

          <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" href="#victima">Núcleo Familiar</a>
          </div>
          <div id="victima" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= f.simple_fields_for :victima do |victima| %>
                <% if !victima.object.persona.nil?  && victima.object.persona.id != @caso.casosjr.contacto.id %>
                  <%= render 'victima_fields', :f => victima %>
                <% end %>
              <% end %>
              <div class="links">
                <%= link_to_add_association 'Añadir Víctima', f, :victima, :class => 'btn-primary' %>
              </div>
            </div>
          </div>
        </div> <! -- accordion-group -->

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" href="#ubicacion">
              Sitios geográficos de refugios y desplazamientos
            </a>
          </div>
          <div id="ubicacion" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= f.simple_fields_for :ubicacion do |ubicacion| %>
                <%= render 'ubicacion_fields', :f => ubicacion %>
              <% end %>
              <div class="links">
                <%= link_to_add_association 'Añadir Sitio geográfico', f, :ubicacion, :class => 'btn-primary' %>
              </div>
            </div>
          </div>
        </div> <! -- accordion-group -->

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" href="#desplazamientos">
              Refugios/Desplazamientos
            </a>
          </div>
          <div id="desplazamientos" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= f.simple_fields_for :desplazamiento do |desplazamiento| %>
                <%= render 'desplazamiento_fields', :f => desplazamiento %>
              <% end %>
              <div class="links">
                <%= link_to_add_association 'Añadir Refugio o Desplazamiento', f, 
                  :desplazamiento, :class => 'btn-primary' %>
              </div>
            </div>
          </div>
        </div> <! -- accordion-group -->

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" href="#presponsables">
              Agente de Persecución
            </a>
          </div>
          <div id="presponsables" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= f.simple_fields_for :caso_presponsable do |caso_presponsable| %>
                <%= render 'caso_presponsable_fields', :f => caso_presponsable %>
              <% end %>
              <div class="links">
                <%= link_to_add_association 'Añadir Agente de Persecución', f, 
                  :caso_presponsable, {:class => 'btn-primary', 
                    "data-ajax" => "/casos/nuevopresponsable", 
                    "data-ajaxdata" => "caso_id"}
                %>
              </div>
            </div>
          </div>
        </div> <! -- accordion-group -->
  
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" href="#antecedentes">
              Causas/Antecedentes
            </a>
          </div>
          <div id="antecedentes" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= f.simple_fields_for :actosjr do |actosjr| %>
                <%= render 'actosjr_fields', :f => actosjr%>
              <% end %>
              <div class="links">
                <%= link_to_add_association 'Añadir Causa/Antecedente', f, :actosjr, :class => 'btn-primary' %>
              </div>
            </div>
          </div>
        </div> <! -- accordion-group -->
  
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" href="#ayudasjr"> 
              Sesiones de Atención
            </a>
          </div>
          <div id="ayudasjr" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= f.simple_fields_for :respuesta do |respuesta| %>
                <%= render 'respuesta_fields', :f => respuesta%>
              <% end %>
              <div class="links">
                <%= link_to_add_association 'Añadir Sesión de Atención', f, 
                  :respuesta, :class => 'btn-primary' %>
              </div>
            </div>
          </div>
        </div> <! -- accordion-group -->

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" href="#anexos"> 
              Anexos
            </a>
          </div>
          <div id="anexos" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= f.simple_fields_for :anexo do |anexo| %>
                <%= render 'anexo_fields', :f => anexo %>
              <% end %>
              <div class="links">
                <%= link_to_add_association 'Añadir Anexo', f, 
                  :anexo, :class => 'btn-primary' %>
              </div>
            </div>
          </div>
        </div> <! -- accordion-group -->

        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" href="#etiquetas"> 
              Etiquetas
            </a>
          </div>
          <div id="etiquetas" class="accordion-body collapse">
            <div class="accordion-inner">
              <%= f.simple_fields_for :caso_etiqueta do |cetiqueta| %>
                <%= render 'caso_etiqueta_fields', :f => cetiqueta %>
              <% end %>
              <div class="links">
                <%= link_to_add_association 'Añadir Etiqueta', f, 
                  :caso_etiqueta, :class => 'btn-primary' %>
              </div>
            </div>
          </div>
        </div> <! -- accordion-group -->

      </div> <!-- accordion -->
    </div> <!-- form-inputs -->
    <div class="form-actions">
      <%= f.button :submit, 'Guardar', :class => 'btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        casos_path, :class => 'btn' %>
    </div>
  <% end %>
  </article>
<% end -%>

