<div class='control-group nested-fields'>
  <div class="controls">
    <%= f.association :departamento,
	    label: "Estado/Departamento",
      label_method: :nombre,
			value_method: :id %>
    <%= f.association :municipio,
			collection: (Municipio.where(id_departamento: f.object.id_departamento)),
	    label: "Municipio",
      label_method: :nombre,
			value_method: :id %>
    <%= f.association :clase,
			collection: (Clase.where(id_departamento: f.object.id_departamento, id_municipio: f.object.id_municipio)),
	    label: "Centro Poblado",
      label_method: :nombre,
			value_method: :id %>
    <%= f.input :lugar %>
    <%= f.input :sitio %>
    <%= f.input :latitud%>
    <%= f.input :longitud%>
    <%= f.association :tsitio,
	    label: "Tipo de Sitio",
	    label_method: :nombre, 
      value_method: :id %>
    <%= f.input :id, as: :hidden %>
    <%= link_to_remove_association "Eliminar Ubicación", f, 
        :class => 'btn-danger' %> 
  </div>
</div>
