<div class='control-group nested-fields'>
  <div class="controls">
  <!-- %= f.simple_fields_for :persona do |persona| % 
    %= render 'persona_fields', :f => persona %
  % end %
    div class="links"
    %= link_to_add_association 'Añadir Persona', f, :persona, :class => 'btn-primary' %
    /div-->
     
    <%= if f.object.persona.nil?
          f.object.persona = Persona.new
          nil
        end %>
    <%= f.simple_fields_for :persona do |p| %>
        <%= render 'persona_fields', :f => p %>
    <% end %>
    <%= f.association :profesion,
	    label: "Profesión",
	    label_method: :nombre, 
	    value_method: :id %>
    <%= f.association :rangoedad,
	    label: "Rango de Edad",
	    label_method: :rango, 
	    value_method: :id %>
      <!-- %= f.input :id_etnia %-->
    <%= f.association :etnia,
	    label: "Etnia",
	    label_method: :nombre, 
	    value_method: :id %>
    <%= f.association :iglesia,
	    label: "Religión/Iglesia",
	    label_method: :nombre, 
	    value_method: :id %>
    <!-- %= f.input :id_iglesia %-->
    <%= f.input(:orientacionsexual, collection: [[:Heterosexual, :H], [:Lesbiana, :L], [:Gay, :G], [:Bisexual, :B], [:Transexual, :T]], prompt: "Orientación Sexual") %>
    <%= link_to_remove_association "Eliminar Víctima", f, :class => 'btn-danger' %> 
  </div>
</div>
