<%- model_class = Caso -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:codigo) %>:</strong></dt>
  <dd><%= @caso.id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fecha) %>:</strong></dt>
  <dd><%= @caso.fecha %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fecharec) %>:</strong></dt>
  <dd><%= @caso.casosjr.fecharec %></dd>
  <dt><strong><%= model_class.human_attribute_name(:asesor) %>:</strong></dt>
  <dd><%= @caso.casosjr.usuario.nusuario %></dd>
  <dt><strong><%= model_class.human_attribute_name(:regionsjr) %>:</strong></dt>
  <dd><%= @caso.casosjr.regionsjr.nombre %></dd>
<%- if !@caso.casosjr.persona.nil? %>
  <dt><strong><%= model_class.human_attribute_name(:contacto) %>:</strong></dt>
  <dd><%= (@caso.casosjr.persona.nombres + " " + @caso.casosjr.persona.apellidos) %></dd>
<% end -%>
  <dt><strong><%= model_class.human_attribute_name(:direccion) %>:</strong></dt>
  <dd><%= @caso.casosjr.direccion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telefono) %>:</strong></dt>
  <dd><%= @caso.casosjr.telefono %></dd>
  <dt><strong><%= model_class.human_attribute_name(:comosupo) %>:</strong></dt>
  <dd><%= @caso.casosjr.comosupo %></dd>

</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              casos_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_caso_path(@caso), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              caso_path(@caso),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
