<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @caso.titulo %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @caso.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @caso.hora %>
</p>

<p>
  <strong>Duracion:</strong>
  <%= @caso.duracion %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @caso.memo %>
</p>

<p>
  <strong>Grconfiabilidad:</strong>
  <%= @caso.grconfiabilidad %>
</p>

<p>
  <strong>Gresclarecimiento:</strong>
  <%= @caso.gresclarecimiento %>
</p>

<p>
  <strong>Grimpunidad:</strong>
  <%= @caso.grimpunidad %>
</p>

<p>
  <strong>Grinformacion:</strong>
  <%= @caso.grinformacion %>
</p>

<p>
  <strong>Bienes:</strong>
  <%= @caso.bienes %>
</p>

<p>
  <strong>Id intervalo:</strong>
  <%= @caso.id_intervalo %>
</p>

<%= link_to 'Edit', edit_caso_path(@caso) %> |
<%= link_to 'Back', casos_path %>
