<tr class='nested-fields'>
  <td>
    <%= f.collection_select :rangoedad_id, Rangoedad.all, :id, :rango %>
  </td>
  <td><%= f.number_field :f, size: "2" %></td>
  <td><%= f.number_field :m, size: "2" %></td>
  <td><%= f.input :id, as: :hidden %><%= link_to_remove_association "Eliminar", f, 
		:class => 'btn-danger' %>
		<div><%= f.error_notification %></div>
	</td>
</tr>
