<%= simple_form_for @actividad, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>
  <%= f.input :numero %>
  <%= f.input :minutos %>
  <%= f.input :nombre %>
  <%= f.association :actividadareas, 
	  label: "Áreas",
	  label_method: :nombre, 
	  value_method: :id %>
  <%= f.input :objetivo %>
  <%= f.input :proyecto %>
  <%= f.input :resultado, label: "Resultado" %>
  <%= f.input :fecha, :input_html => { "data-behaviour" => "datepicker"}, 
	  :as => :string %>
   <table border=1>
     <thead>
       <tr><th>Rango de Edad</th><th>Femenino</th><th>Masculino</th><th>Acción</th></tr>
     </thead>
     <tbody id="actividad_rangoedad">
       <%= f.simple_fields_for :actividad_rangoedad do |s| %>
         <%= render 'actividad_rangoedad_fields', :f => s %>
       <% end %>
     </tbody>
   </table>
   <div class="links">
     <%= link_to_add_association 'Añadir Rango de Edad', f, 
       :actividad_rangoedad, 
       :"data-association-insertion-node" => "tbody#actividad_rangoedad", 
       :"data-association-insertion-method" => "append", 
       :partial => "actividad_rangoedad_fields", 
       :class => "btn-primary" %>
   </div>

  <%= f.input :observaciones %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                actividades_path, :class => 'btn' %>
  </div>
<% end %>
